
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="mt-5">Privacy Policy</h1>

                <h2>Information We Collect</h2>
                <p>When you visit our Website, we may collect certain information about your visit, such as your IP address, browser type, and referring website. We may also collect information about how you interact with the Website, such as the pages you visit and the links you click.</p>
                <p>If you choose to contact us through the contact form on our Website, we may collect your name, email address, and any other information you provide to us.</p>

                <h2>How We Use Your Information</h2>
                <p>We may use the information we collect for various purposes, including:</p>
                <ul>
                    <li>To improve our Website and the services we provide.</li>
                    <li>To respond to inquiries and provide customer support.</li>
                    <li>To send you promotional emails about our products and services, if you have opted in to receive such communications.</li>
                    <li>To comply with legal obligations.</li>
                </ul>

                <h2>Sharing Your Information</h2>
                <p>We do not sell, trade, or otherwise transfer your personal information to third parties without your consent, except as described in this Policy. We may share your information with trusted third-party service providers who assist us in operating our Website, conducting our business, or servicing you.</p>

                <h2>Security</h2>
                <p>We take reasonable measures to protect the security of your personal information. However, no method of transmission over the internet or electronic storage is completely secure, and we cannot guarantee the absolute security of your information.</p>

                <h2>Your Choices</h2>
                <p>You may choose to opt out of receiving promotional emails from us by following the unsubscribe instructions provided in the email. Please note that even if you opt out of receiving promotional emails, we may still send you transactional or administrative messages regarding the Website.</p>

                <h2>Changes to This Policy</h2>
                <p>We reserve the right to modify this Privacy Policy at any time. Any changes we make will be effective immediately upon posting the revised Policy on this page. We encourage you to review this Privacy Policy periodically for any updates or changes.</p>
            </div>
        </div>
    </div>

    
</body>
